html, body, #map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.margin-none{

	margin:0px;

}

#map_canvas {
    position: relative;
}

#logo-image{

	background-color: rgba(45, 137, 179, 0.52);
	color: #fff;
	border-radius: 5px;
	font-family: sans-serif;
	padding: 6px;

}

#logo{

	margin-top: 20px;

}

.nav .open>a{

	background-color: initial !important;
}

#wrapper-map{
	position: relative;
}

#map {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
}

.navbar-brand-image {
    height: 18px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    display: inline !important;
}

#container-logo{

	position: absolute;
	z-index: 1;
	right: 1%;

}

#container-finder{

	position: absolute;
	z-index: 1;
	left: 1%;

}

#finder{

	z-index: 1000;
	opacity: 0.7;
	transition: opacity 0.2s ease;
	left: 40%;
	margin-top: 15px;

}

#finder input{

	width: 80%;
	font-size: 16px;
	height: 45px;
	margin: 7px 0 0 10px;
	padding: 10px;
    margin: 0 !important;
    display: initial;

}


.opacity-min{

	opacity: 0.95 !important;

}

.footer{
	background-color: #293a48;
	color: #fff;
    padding: 15px;
}

.btn-menu {
	color: #4c4c4c;
    position: absolute;
    background-color: #aae0da;
    border: 2px solid rgba(76, 76, 76, 0.28);
    border-radius: 50%;
    font-size: 12px;
    top: 70%;
    height: 60px;
    width: 60px;
    box-shadow: 0.5px 0px 2px #4c4c4c;
}

.btn-menu i{

	font-size: 16px;

}

#btn-new-service{

	left: 30%;

}

#btn-search-service{

	right: 30%;

}

.btn-menu:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.btn-burger .icon::after, .btn-burger .icon::before, .btn-burger .icon{
	background-color: #4c4c4c !important;
}

.btn-modal-close{

	background-color: #fff;
	border: 1px solid #3c79af;
	box-shadow: none;
	margin: 0 auto;
	display: block;
	width: 110px;
	color: #3c79af;

}

.btn-modal-close:hover{

	color: #3c79af;

}

.btn-modal-save{
	background-color: #fff;
	border: 1px solid #2fc709;
	box-shadow: none;
	margin: 0 auto;
	display: block;
	width: 110px;
	color: #2fc709;
}

.btn-modal-save:hover{

	color: #2fc709;
	
}

.btn-login{
	background-color: #fff;
	border: 1px solid rgb(45, 137, 179);
	box-shadow: none;
	margin: 0 auto;
	display: block;
	width: 110px;
	color: rgb(45, 137, 179);
}

.btn-login:hover{

	color: rgb(45, 137, 179);
	
}

.btn-modal-options{
	font-size: 11px;
    color: #d6c806;
    width: 30%;
    border: 1px solid #d6c806;
    display: block;
    margin: 0 auto;
    margin-right: 0px;
}

.btn-modal-options:hover{

	color: #d6c806;
	
}

.btn-validez-positiva{

	border: 1px solid #4c4c4c;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	background-color: #a4dad6;
	position: relative;
	top: -35px;
	left: 45px;
	box-shadow: 0.5px 0.5px 5px #4c4c4c;
	color: #4c4c4c;
}

.btn-validez-positiva i{
	font-size: 32px;
}

.btn-validez-negativa{

	border: 1px solid #a4dad6;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    box-shadow: 0.5px 0.5px 5px #212925;
    color: #a4dad6;
}

.btn-validez-negativa i{
	font-size: 32px;
}

.btn-validez-positiva:active{
	box-shadow: inset 0 0 4px 0px black;
}

.btn-validez-negativa:active{
	box-shadow: inset 0 0 4px 0px black;
}

.btn-calidad{
	font-size: 22px;
	color: red;
}







a:hover,a:visited,a:link,a:focus{

	text-decoration: none;
	color: inherit;

}

.modal-content{

	border-radius: 2px;
	max-width: 85%;
	margin: 0 auto;
	position: relative;
	top: 50;
	top: 75px;

}

.modal-header{

	background-color: #3c79af;
	width: 94%;
	margin: 0 auto;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	position: relative;
	top: -15px;
	border-bottom: 1px solid #3c79af;
	color: #fff;

}

input.custom{

	border: none;
	border-bottom: 1px solid #ccc;
	box-shadow: none;
	border-radius: 0;
	margin-left: -10px;

}

input.custom:focus{

	border-color: #4285F4;
	box-shadow: 0 1px 0 0 #4285F4;

}

select.custom{

	border: none;
    box-shadow: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0px;
    color: #999999;
    margin-left: -10px;

}


.info-container{

	height: 12em;
	width: 20em;

}

.info-container .info-mid{
	padding: 20px;
	padding-left: 0;
	padding-right: 0;
}

.info-container .title{

	font-weight: bold;
	font-size: 20px;

}

.background-blue{

	background-color: #55acee;

}

.background-blue-transparent{

	background-color: rgba(85, 172, 238, 0.59);

}

.absolute{

	position: absolute;

}

.width-100{
	
	width: 100%;

}

.border-radius-min{

	border-radius: 2px;

}

.no-padding{
	padding: 0;
}

.no-margin{
	margin: 0;
}

.text-vote{

	position: relative;
	top: 12px;
	font-weight: bold;
	color: #24611c;

}

.btn-vote{
	background-color: aliceblue;
	border-radius: 0 0 5px 5px;
	font-size: 11px;
    font-weight: 600;
    width: 100%;
    border-top: 1px solid #6cba61;
}


@media (max-width : 767px) {

	#finder{
		left: 30%;
	}

	#finder input{
		
		width: 100%;
	
	}
}

@media (min-width : 768px) {

	#finder{
		left: 40%;
	}

}




.custom-iw .gm-style-iw {
    top:16px !important;
    left:0 !important;
    max-height: 250px;
}
.custom-iw>div:first-child>div:nth-child(2) {
    display:none;
}
.custom-iw .gm-style-iw, .custom-iw .gm-style-iw>div, .custom-iw .gm-style-iw>div>div {
    width:100% !important;
    max-width:100% !important;
    overflow: hidden !important;
}
/** set here the width **/
.custom-iw, .custom-iw>div:first-child>div:last-child {
    width:350px !important;
}
.custom-iw>div:first-child>div:last-child {
    left:0 !important;
    top:0px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;
    z-index:-1 !important;
}
/** set here the desired background-color **/
.iw-content, .custom-iw>div:first-child>div:nth-child(n-1)>div>div, .custom-iw>div>div:last-child, .custom-iw .gm-style-iw, .custom-iw .gm-style-iw>div, .custom-iw .gm-style-iw>div>div {
    background-color:transparent; !important;
}
/** close-button **/
.custom-iw>div:last-child {
    top:-10px !important;
    opacity: 1 !important;
    right: -16px !important;
    border-radius: 13px !important;
    box-shadow: 0.5px 1px 8px #fff !important;
    border: 8px solid black;
    padding: 6.5px;
}
/** padding of the content **/
.iw-content {
	padding-left: 6px;
	height: 250px;
}

.iw-content img{
	max-width: 84.66px !important;
	background-color: #a8dfdb;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;

    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;

    text-align: initial;
}

.iw-content .voted-positive img{

	transform: scaleX(1.08) scaleY(1.04);
	background-color: yellow;

}

.iw-content .voted-negative img{

	transform: rotateZ(-9deg) scaleX(0.9) scaleY(0.9);
	background-color: #6f6868;
}

.info-calidad img{
	transition: all 1s;
}

.background-transparent{
	background-color: transparent !important;
}

.transparent{
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 15px;
}

.cssload-jar .level1 .cssload-liquid{

	height: 20% !important;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;

}

.cssload-jar .level1 .cssload-wave{

	top:65px !important;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;

}

.cssload-jar .level2 .cssload-liquid{

	height: 40% !important;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;

}

.cssload-jar .level2 .cssload-wave{

	top:47px !important;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;

}

.cssload-jar .level3 .cssload-liquid{

	height: 60% !important;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;

}

.cssload-jar .level3 .cssload-wave{

	top:30px !important;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;

}

.cssload-jar .level4 .cssload-liquid{

	height: 80% !important;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;

}

.cssload-jar .level4 .cssload-wave{

	top:13px !important;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;

}

.cssload-jar .level5 .cssload-liquid{

	height: 100% !important;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;

}

.cssload-jar .level5 .cssload-wave{

	top:13px !important;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;

}



.btn-precio img{

	background-color: transparent;
	width: 40px;
	padding: 0px;
	/* box-shadow: 1px 1px; */
	box-shadow: 0.5px 0.5px 5px #212925;
	border-radius: 50%;
	cursor: pointer;

}

.btn-precio div{

	border-radius: 5px;
	padding: 2px;
	font-weight: bold;
	cursor: pointer;
	
}

.btn-precio-low{
	background-color: #ccedea;
	margin-bottom: 1px;
}

.btn-precio-mid{
	background-color: #dfdfdf;	
	margin-bottom: 1px;
}

.btn-precio-high{
	background-color: #a8dfdb;
	margin-bottom: 1px;
}

.btn-precio div:active{

	box-shadow: inset 0 0 4px 0px black;

}

.info-precio a img{
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.shadow-green{

	box-shadow: inset 0px 0px 4px 2px #348e07;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

}

.msg-search{

	padding: 15px;
	color: #c5c5c5;

}

.table-header{
	background-color: #3c79af;
	color: white;
	padding: 10px;
	font-weight: 500;
}

.table-row{
	font-size: 16px;
	padding: 10px;
	border-bottom: 1px solid gainsboro;
}

.size-25{
	font-size: 25px;
}

.size-12{
	font-size: 12px;
}

.size-20{
	font-size: 20px;
}

.bold-800{
	font-weight: 800;
}

.btn-action-search{
	padding: 0 10px 0 10px;
	background-color: #dfd441;
}

.icon-note{

	color: white;
	border-radius: 2px;
	padding: 2px;
	

}

.background-green{
	background-color: #40af40;
}

.background-yellow{
	background-color:#dfd441;
}

.background-red{
	background-color:#bb5151;
}

#container-buttons{

	z-index: 1;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.btn-aditional{

	color: #fdf8f8;
	background-color: #afaead;
	border: 2px solid rgba(76, 76, 76, 0.28);
	border-radius: 5px;
	font-size: 11px;
	height: 30px;
	width: 100px;
	font-weight: 600;
	box-shadow: 0.5px 0px 2px #4c4c4c;

}

.border-green{

	border: 2px solid #40af40;

}

.border-yellow{

	border: 2px solid #dfd441;

}

.border-red{

	border: 2px solid #bb5151;

}

.margin-top-8{
	margin-top: 8px !important;
}


#container-login{

	background: white;
	border: 3px solid #245166;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 250px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	opacity: 0.8;

}